name: Terraform

on:
  push:
    branches:
      - main

env:
  TERRAFORM_ACTION: apply

jobs:

  terraform:
    name: Terraform
    runs-on: ubuntu-latest
    steps:

      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Authenticate to Azure
        run: |
          az login --service-principal --tenant ${{ secrets.AZURE_TENANT_ID }} --username ${{ secrets.AZURE_APPLICATION_REGISTRATION_ID }} --password ${{ secrets.AZURE_APP_SECRET }}

      - name: Terraform Init
        working-directory: ./terraform
        run: terraform init

      - name: Terraform Validate
        working-directory: ./terraform
        run: terraform validate

      - name: Terraform Plan
        working-directory: ./terraform
        run: terraform plan -out=tfplan

      - name: Terraform Apply
        working-directory: ./terraform
        run: terraform ${{ env.TERRAFORM_ACTION }} -auto-approve tfplan

      - name: Terraform Destroy
        if: env.TERRAFORM_ACTION == 'destroy'
        working-directory: ./terraform
        run: terraform destroy -auto-approve
