name: Terraform

on:
  push:
    branches:
      - main

env:
  AZURE_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
  AZURE_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
  AZURE_APP_SECRET: ${{ secrets.AZURE_APP_SECRET }}
  AZURE_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
  TERRAFORM_ACTION: apply 
jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 1.0.11

    - name: Authenticate to Azure Container Registry
      shell: pwsh
      run: |
       az login --service-principal --tenant ${{ secrets.AZURE_TENANT_ID }} --username ${{ secrets.AZURE_APP_REGISTRATION }} --password ${{ secrets.AZURE_APP_SECRET }} 

    - name: Initialize Terraform
      working-directory: ./terraform/environments/production
      run: terraform init

    - name: Apply Terraform
      working-directory: ./terraform/environments/production
      run: terraform ${{ env.TERRAFORM_ACTION }} -auto-approve
