name: Terraform

on:
  push:
    branches:
      - main

env:
  TERRAFORM_ACTION: apply

jobs:
  azuread:
    runs-on: ubuntu-latest
    steps:
      - name: Authenticate to Azure Container Registry
        shell: pwsh
        run: |
          az login --service-principal --tenant ${{ secrets.AZURE_TENANT_ID }} --username ${{ secrets.AZURE_APP_REGISTRATION }} --password ${{ secrets.AZURE_APP_SECRET }}

      - name: Initialize Terraform
        working-directory: ./terraform/environments/production
        run: terraform init

      - name: Apply Terraform
        working-directory: ./terraform/environments/production
        run: terraform ${{ env.TERRAFORM_ACTION }} -auto-approve
