name: Azure Credentials CI

on:
  push:
    branches:
      - main

permissions:
 actions: read

jobs:
  azuread:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Azure
        shell: pwsh
        run: |
          az login --service-principal --tenant ${{ secrets.AZURE_TENANT_ID }} --username ${{ secrets.AZURE_APPLICATION_REGISTRATION_ID }} --password ${{ secrets.AZURE_APP_SECRET }}

  deploy_aws_infrastructure:
    name: 
    needs: azuread
    runs-on: ubuntu-latest
    steps:
     - name: Set up Azure CLI
       run: |
         az group create --name ${{ secrets.RESOURCE_GROUP }} --location ${{ secrets.LOCATION }}

     - name: Create AKS Cluster
       run: |
         az aks create \
           --resource-group ${{ secrets.RESOURCE_GROUP }} \
           --name ${{ secrets.CLUSTER_NAME }} \
           --node-count 1 \
           --enable-addons monitoring \
           --generate-ssh-keys

     - name: Get AKS credentials
       run: az aks get-credentials --resource-group ${{ secrets.RESOURCE_GROUP }} --name ${{ secrets.CLUSTER_NAME }}

                  